@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  border-radius: 50%;
  height: 198px;
  top: 65px;
  position: relative;
  filter: drop-shadow(0 0 0.75rem white);
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h3 {
  color: white;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
  position: absolute;
  top: 283px;
  margin-right: 189px;
  width: 64vw;
}
h3 {
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
  position: absolute;
  top: 348px;
  margin-right: 197px;
  width: 78vw;
}
.links {
  position: absolute;
  top: 445px;
}
.links i {
  display: inline-block;
  align-items: center;
  left: 20px;
  position: relative;
  top: 6px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  font-size: 19px;
}
button {
  position: relative;
  top: -36px;
  justify-content: center;
  align-items: center;
  flex-direction: inherit;
  width: 50vw;
  height: 64px;
  background: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.8rem;
  color: white;
  transition: 0.3s;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  flex-wrap: wrap;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #fff;
}
a {
  color: white;
  text-decoration: none;
}
button:hover {
  color: black;
}
.links:hover i {
  color: black;
  z-index: 999;
  filter: none;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 197px;
  width: 100vw;
}
.last i {
  display: block;
  color: white;
  top: 623px;
  position: relative;
  border: 4px solid;
  border-radius: 50%;
  padding: 9px;
  margin: 0px 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  filter: invert(10%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.last i:hover {
  background-color: white;
  transition: 0.3s;
  color: black;
}
.last:hover {
  color: black;
}
h6 {
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
  position: absolute;
  top: 700px;
  margin-right: 9px;
  width: 67vw;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 500px) {
  button {
    width: 86vw;
  }
  .links {
    position: absolute;
    top: 487px;
  }
  .links i {
    top: 5px;
  }
  .last {
    position: relative;
    top: 227px;
  }
  .last i {
    top: 441px;
  }
  h6 {
    top: 527px;
  }
}
